.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #294c60;
    padding: 1.5rem 3rem; 
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
  }
  
  .navbar-brand a {
    color: #ffefd3;
    font-size: 2.3rem; 
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li a {
    color: #F7FFDD;
    text-decoration: none;
    font-size: 1.6rem; 
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar-links li a:hover {
    color: #ffc49b;
  }